.header {
  margin-bottom: rem(120px);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.container {
  padding: 10px 10px;
}

.textInput {
  flex: 1;
  max-width: 400px;
  color: var(--mantine-color-body);
}

.centerHorizontal {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.flexone {
  flex: 1;
}

.icon {
  color: light-dark(
    var(--mantine-color-white-10),
    var(--mantine-color-white-0)
  );
}

.icon:hover {
  background-color: transparent;
}

.signup {
  color: light-dark(
    var(--mantine-color-white-10),
    var(--mantine-color-white-0)
  );
}
